.font-adlam{
    font-family: "ADLaM Display", serif;
}
.font-sora{
    font-family: "Sora", serif;
}
.bg-base-100 {
    background-color: #FFF9F4;
}
.bg-second{
    background: #F9DF8A;
}
.bg-third{
    background: #FFF9F4;
}
/* .trend-shop{
    background-image: url(../assets/cute-pet-mid.png);
    background-repeat: no-repeat;
} */
